<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros trabajos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="practicaflex">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="plantas.html">PLANTAS</a></li>
                <li><a href="./historia.html">HISTORIA</a></li>
            </ul>
               
            <a href="#"><img src="../img/vivero2.jpeg" alt="vivero2"></a>
        </nav>

    </header>
    <main>
      <h1>CONTACTO</h1>
        <section class="sectionContacto">
            <div class="boxModel">
                <img src="../img/vivero.jpg"
                alt="vivero">
            </div>
        </section>
    
    </main>
    <footer>

    </footer>
    
</body>

</html>
<header></header>
