<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros | booky</title>
    <link rel="stylesheet" href="../css/style.css">
    <style></style>
</head>

<body>

    <header>
        <nav>
            <ul class="practicaflex">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="plantas.html">PLANTAS</a></li>
                <li><a href="./historia.html">HISTORIA</a></li>
            </ul>
            <a href="#"><img class="img-planta" src="../img/anthurium.webp" alt="anthurium">
        </nav>

        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">VIVERO</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VIVERO</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../index.html">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../views/contacto.html">CONTACTO</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="plantas.html">PLANTAS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="historia.html">HISTORIA</a>
                      </li>
                      
                      </ul>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </nav>





    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    </header>
    <main> 
        <section class="hero conteiner">
            <div class="row">
                <div class="imagineconteiner colg-lg-6 colg-md-7 colg-sm-12">

                </div>
                <div class="coolg-lg-6 colg-md-5 colg-sm-12"></div>

            </div>






            <div class="imagineconteiner" >
                <img src="../img/anthurium.webp" class="img-fluid rounded"     alt="viverista1">
                <img src="../img/anthurium.webp" class="img-fluid rounded"  alt="vivero">
                <img src="../img/anthurium.webp" class="imag-fluid rounded"   alt="viverista3">
            </div>
                <div class="planta1">
                    <h1 class="bg-image-titule">PLANTAS</h1>
                

                </div>
                <div class="hero">
                    <p>Nuestro vivero japones es el mejor en cuanto calidad y responsabilidad a la hora de cultivar plantas</p>
                </div>
        </section>
        <h1>NOSOTROS</h1>
        <h2>EL MEJOR VIVERO</h2>
        <section>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, officiis a voluptatem eveniet minus dicta labore, pariatur voluptatum tempore reiciendis nam reprehenderit error autem hic magni aut ipsam doloremque modi.</p>
        </section>
          
        <section class="video">
            <h2>VIDEO</h2>
            <video src="../img/videoplayback.mp4"autoplay muted controls loop> </video>

        </section>
    

        <div>

        
         <img src="../img/Diseño sin título.png" alt="logo de plantas">
        </div>

    
    </main>
    <section class="galeria">
        <div class="box box1">
            <h3>mas contenido</h3>
        </div>
        <div class="box box2">
            <h3>2</h3>
        </div>
        <div class="box box3">
            <h3>3</h3>
        </div>
        <div class="box box4">
            <h3>4</h3>
        </div>
        <div class="box box5">
            <h3>5</h3>
        </div>
        <div class="box box6">
            <h3>6</h3>
        </div>
        <div class="box box7">
            <h3>7</h3>
        </div>
        <div class="box box8">
            <h3>8</h3>
        </div>

        </div>
    </section>
   
    <footer class="fondorosa">
            <div class="flexfooter">
                <div class="redes sociales">
                    
                </div>
            </div>
    
    
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
    
</html>
