<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <ul class="practicaflex">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
                <li><a href="#">PLANTAS</a></li>
                <li><a href="./historia.html">HISTORIA</a></li>
            </ul>
            
            <a href="#"><img src="../img/Cuidados_del_Anthurium_guia_completa_9e847305-fa35-4393-b43f-aa54b0cbc7fe_1800x.webp" alt="anthurium"></a>

        </nav>

    </header>
    <main>
        <h1>PLANTAS</h1>
        <section class="sectionBoxModel">
            <div class="boxModel">
                <img src="../img/Diseño sin título.png"
                alt="planta"> 
            </div>
        </section>
        <h2>PLANTAS</h2>
        <section>
            <div>
                <img src="../img/Diseño sin título.png" alt="logo de plantas">
            </div>

        </section>
    </main>
    <footer></footer>
    
</body>
</html>